.card{
    perspective:150rem;
    -moz-perspective: 150rem;
    height:50rem;
    position: relative;

    &__side{
        transition: all 1s ease;
        position: absolute;
        top:0;
        left:0;
        backface-visibility: hidden;
        height: 50rem;
        width:100%;
        border-radius:3px;
        box-shadow:0 1.5rem 4rem rgba($color-black,.15);
        overflow:hidden;

        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image:linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark);
            }
            &-2{
                background-image:linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
            }
            &-3{
                background-image:linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
            }

            &--place{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                text-align: center;
                display: inline-block;
                color:$color-white;
                width:80%;
                .pricing--value{
                    margin-bottom: 5rem;
                    font-size: 4.5rem;
                    font-weight: 300;
                }
            }

        }
    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }

    &__picture{
        background-size:cover;
        height:23rem;
        background-blend-mode: color;
        -webkit-clip-path:polygon(0 0,100% 0, 100% 85%,0 100%);
        clip-path: polygon(0 0,100% 0, 100% 85%,0 100%);

        &-1{
            background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark),url("../img/nat-5.jpg");
        }
        &-2{
            background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),url("../img/nat-6.jpg");
        }
        &-3{
            background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark),url("../img/nat-7.jpg");
        }
    }

    &__heading{
        position: absolute;
        top:12rem;
        right:2rem;
        text-transform: uppercase;
        font-size: 2.8rem;
        color:$color-white;
        font-weight: 300;
        text-align:right;
        width:75%;
    }

    &__heading-span{
        padding:1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light,0.85),rgba($color-secondary-dark,0.85));
        }

        &--2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.85),rgba($color-primary-dark,0.85));
        }

        &--3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light,0.85),rgba($color-tertiary-dark,0.85));
        }

    }

    &__details{
        text-align: center;

        ul{
            list-style: none;
            width:80%;
            margin:0 auto;


            li{
                font-size:1.5rem;
                text-transform:uppercase ;
                padding:1rem;
                &:not(:last-child){
                    border-bottom: 1px solid $color-light-grey-2;
                }
            }
        }
    }

    @include respond(tab-port){
        border-radius: 3px;
        box-shadow:0 1.5rem 4rem rgba($color-black,.15);
        height:auto;

        &__side{
            position: relative;
            height: auto;
            box-shadow: none;

            &--back{
                margin-top:-8rem;
                transform: rotateY(0);
                border-radius: 0 0 3px 3px;
                clip-path:polygon(0 15%, 100% 0, 100% 100%, 0 100%);
                

                &--place{
                    position: relative;
                    top:0;
                    left:0;
                    transform: translate(0);
                    width:100%;
                    padding:4rem;
                    .pricing--value{
                        font-size: 4.5rem;
                    }
                }

            }
        }

        &:hover &__side--front{
            transform: rotateY(0);
        }

        &__picture{
            background-size:cover;
            height:23rem;
            background-blend-mode: color;
            -webkit-clip-path:polygon(0 0,100% 0, 100% 85%,0 100%);
            clip-path: polygon(0 0,100% 0, 100% 85%,0 100%);

            &-1{
                background-image: linear-gradient(to right bottom,$color-secondary-light,$color-secondary-dark),url("../img/nat-5.jpg");
            }
            &-2{
                background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark),url("../img/nat-6.jpg");
            }
            &-3{
                background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark),url("../img/nat-7.jpg");
            }
        }

        &__heading{
            position: absolute;
            top:12rem;
            right:2rem;
            text-transform: uppercase;
            font-size: 2.8rem;
            color:$color-white;
            font-weight: 300;
            text-align:right;
            width:75%;
        }

        &__heading-span{
            padding:1rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            &--1{
                background-image: linear-gradient(to right bottom, rgba($color-secondary-light,0.85),rgba($color-secondary-dark,0.85));
            }

            &--2{
                background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.85),rgba($color-primary-dark,0.85));
            }

            &--3{
                background-image: linear-gradient(to right bottom, rgba($color-tertiary-light,0.85),rgba($color-tertiary-dark,0.85));
            }

        }

        &__details{
            text-align: center;
            height:30rem;

            ul{
                list-style: none;
                width:80%;
                margin:0 auto;


                li{
                    font-size:1.5rem;
                    text-transform:uppercase ;
                    padding:1rem;
                    &:not(:last-child){
                        border-bottom: 1px solid $color-light-grey-2;
                    }
                }
            }
        }
    }
}